@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --white: #f1f1f1;
    --black: #1f1f1f;
    --red: #e60d0d;
    --orange: #ff6600;
    --yellow: #ffd700;
    --green: #227922;
    --blue: #2f00ff;
    --purple: #9900ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--green);
    width: 100vw;
    color: var(--white);
}

h1 {
    text-align: center;
    margin-top: 5%;
}

main {
    width: 95%;
    margin: auto;
}

#array {
    display: flex;
    padding: 1.4%;
    gap: 1.4%;
    height: 200px;
}

#array img {
    height: 90%;
    width: 6.4%;
    transition: 0.3s ease;
}

#index {
    display: flex;
    gap: 1.4%;
    margin: 1.4%;
}

#index p, main {
    border: 3px solid var(--white);
    border-radius: 3px;
}

#index p {
    height: 50px;
    width: 6.4%;
    margin-top: -100px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

#range {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 30px;
}

#reset {
    cursor: pointer;
    margin: auto;
    height: 35px;
    width: 140px;
    text-align: center;
    color: var(--black);
    font-size: 1.3rem;
    background-color: var(--white);
    border-radius: 4px;
}
